@tailwind base;
@tailwind components;
@tailwind utilities;

.heading {
  background-color: #333333;
}
#header {
  color: white;
  text-align: center;
  font-size: 25px;
}
#input {
  padding-left: 5%;
}
#table {
  margin-top: 5%;
  margin-left: 10%;
}
